/*Structure CSS*/

*{ margin:0px; padding: 0px; }

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size:16px;
	background:#e0e0e0;
}

.logo {
	padding-top:40px;
	text-align: left;
	width: 1000px;
	height:60px;
}

.center {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.main {
	padding:30px;
	margin-top: 0px;
	background: #FFF;
	border:1px solid #7b8a91;
	min-height: 900px;	
}

/*Navigation CSS*/

.active{
	margin-top:9px;
	margin-right:10px;
	background:#fcc006 url('/pages/admin/img/nav.png') repeat-x top !important;
}

.top{
	margin-top:9px;
	margin-right:10px;
}
 
#nav {
     position: relative;
     width: 100%;
     height:45px;
     font-size:14px;
     color:#999;
     margin: 0px auto;
	 background:#000;
}

.nav-yellow{
	background:#fcc006;
	height:5px;
}
 
#nav ul {
	list-style-type: none;
}
 
#nav ul li {
     float: left;
	 z-index:1;
     position: relative;
	 background:#FFF;
}

#nav ul li:hover {
	background:#fcc006 url('/pages/admin/img/nav.png') repeat-x top;
}
 
#nav ul li a {
     text-align: left;
     padding:10px;
     display:block;
     color:#999;
}

#nav ul li a:hover {
     text-align: left;
     padding:10px;
     display:block;
}
 
#nav ul li ul {
     display: none;
}
 
#nav ul li:hover ul {
     display: block;
     position: absolute;
	 width: 150px; !important
	 padding:20px; !important
}
 
#nav ul li:hover ul li a {
     display:block;
     background:#fcc006;
     color:#999;
     width: 150px; !important
     border-top: 1px solid #f2f2f2;
     border-right: none;
}
 
#nav ul li:hover ul li a:hover {
     background:#7b8a91;
	 color:#fff;
}

h1 {text-shadow: 0 0 3px #FCC10A;}
#footerlinks{background:transparent;color:#000;height:20px;padding-top:8px;text-align:center;width:950px;}
#footerlinks a{color:#333;font-family:Arial;font-size:14px;font-weight:bold;margin:0 2px;text-decoration:none;}
#footerlinks a:hover{color:#666;font-family:Arial;font-size:14px;font-weight:bold;text-decoration:none;}
/*Content CSS*/

.page{
	font-size: 12px;
	border: 1px solid #e3e3e3;
	padding:2px 3px 2px 3px;
	color:#EEEEEE;
	background:#7b8a91;
}

.page:hover{
	border: 1px solid #000;
	background:#fcc006;
}

.page-select{
	font-size: 12px;
	border: 1px solid #e3e3e3;
	padding:2px 3px 2px 3px;
	color:#EEEEEE;
	background:#333;
}

.page-box{
	text-align:right;
	font-size: 12px;	
}

.button{
	background-color:#f9f9f9;
	border: 1px solid #e3e3e3;
	display:inline-block;
	color:#666666;
	font-weight:bold;
	padding:5px 25px;
	text-shadow:1px 1px 0px #ffffff;
	margin-bottom: 20px;
}

.button:hover{
	background-color:#e9e9e9;
}

.button:active{
	position:relative;
	top:1px;
}

.arcade{
	text-align: right;
}

.msg{
	border:1px solid #FCFFCF;
	background:#E8EB99;
	padding:3px;
	color:#000000 !important;
	text-align:center;
}

.error{
	background:#579aff;
	border:1px solid #000000;
	font-size:14px;
	text-align:center;
}

.heading {
	color:#43729F;
	float:left;
	width:100%;
	border-left:2px solid #f70;
	border-bottom:1px inset #f70;
	padding-left:9px;
	margin-bottom:25px;
}

/*Table content CSS*/

#table {
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
    width: 100%;
	margin-bottom:30px;
}
#table td, #table th {
	padding: 5px;
	color: #333;
}
#table thead {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: .2em 0 .2em .5em;
	text-align: left;
	color: #4B4B4B;
	background:#fcc006 url('/pages/admin/img/nav.png') repeat-x top;
	border-bottom: solid 1px #999;
}
#table th {
	font-size: 17px;
	line-height: 20px;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	text-shadow: white 1px 1px 1px;
}
#table td {
	line-height: 20px;
	font-size: 14px;
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}
#table td:hover {
	background-color: #fff;
}

A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: none}

.box{
        float:left;
	width:890px;
	height:100px;
	border: 1px solid #e3e3e3;
	background-color: #f2f2f2;
	margin-bottom:10px;
	margin-left:14px;
	}

.boximage{
        float:left;
	width:150px;
	height:150px;
	background:transparent;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	margin:10px;
	padding:2px;
}

.boximage a {color:#060606;text-decoration: none}
.boximage a:hover {text-decoration: underline}




