body{
	background:#FFF;
	background: url('images/img1.gif') repeat-x;
	padding:0;
	margin:0;
}
.maintable{
	background:transparent;
}

a:link { 
	color: #ACBB48;
	}
a:visited { 
	color: #ACBB48;
	}
a:hover { 
	color: #0079A8;
	}
a{ 
	color: #ACBB48;
	}


.header {
	font-family: Tahoma;
	font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
	text-align:center;
	background-color: #80D129;
	background: url('images/img3.gif') repeat-x;
}

.content {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:normal;
	color: #ACBB48;
	text-align:left;
	padding:5px;
	background-color: #124862;
}
.header2 {
	font-family: Tahoma;
	font-size: 16px;
	font-weight:bold;
	color: #FFFFFF;
	padding:2px;
	text-align:center;
	background-color: #FF9400;
	background: url('images/img3.gif') repeat-x;
}

.content2 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:normal;
	color: #ACBB48;
	text-align:left;
	background-color: #124862;
}

.header3 {
	font-family: Tahoma;
	font-size: 16px;
	font-weight:bold;
	color: #000000;
	text-align:center;
	background-color: #CFEDFF;
	padding:3px;
}

.content3 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:normal;
	color: #ACBB48;
	text-align:left;
	background-color: #124862;
}

.header4 {
	font-family: Tahoma;
	font-size: 16px;
	font-weight:bold;
	color: #000000;
	text-align:center;
	background-color: #FFFFFF;
	border:1px solid #EEEEEE;
	padding:3px;
}

.content4 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:normal;
	color: #ACBB48;
	text-align:left;
	background-color: #124862;
}

.header5 {
	font-family: Tahoma;
	font-size: 14px;
	color: #000000;
	text-align:center;
	background-color: #F2F2F2;
	border:1px solid #EEEEEE;
}

.content5 {
	font-family: Tahoma;
	font-size: 12px;
	font-weight:normal;
	color: #ACBB48;
	text-align:left;
	background-color: #124862;
	border:1px solid #EEEEEE;
}
.gamehometitle{
	font-family:arial;
	font-size:13px;
	color:#FFFFFF;
	font-weight:bold;
}
.gamehomedesc{
	color:#FFFFFF;
	font-family:arial;
	font-size:10px;
}
a, a:visited, a:hover{
	color:#000;
	text-decoration:none;
	font-size:12px;
}
.catmenu{
	list-style: none;
	padding:0;
	margin:0;
}
.catmenu li{
	padding:4px;
}
.catmenu li:hover{
	background:#E8F7FF;
}
.catmenu li a{
	font-size:15px;
}
.playlink{
	color:#000000;
	
}

.menutop{
padding: 0;
width: 100%;
border-top: 5px solid #ACBB48; /*Red color theme*/
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.menutop ul{
margin:0;
margin-left: 2px; /*margin between first menu item and left browser edge*/
padding: 0;
list-style: none;
}

.menutop li{
display: inline;
margin: 0 2px 0 0;
padding: 0;
text-transform:none;
}

.menutop a{
float: left;
display: block;
font: bold 12px Arial;
color: black;
text-decoration: none;
margin: 0 1px 0 0; /*Margin between each menu item*/
padding: 5px 10px 9px 10px; /*Padding within each menu item*/
background-color: #ACBB48; /*Default menu color*/

/*BELOW 4 LINES add rounded bottom corners to each menu item.
  ONLY WORKS IN FIREFOX AND FUTURE CSS3 CAPABLE BROWSERS
  REMOVE IF DESIRED*/
-moz-border-radius-bottomleft: 5px;
border-bottom-left-radius: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-right-radius: 5px;
}

.menutop a:hover{
background-color: #FFFFFF; /*Red color theme*/
padding-top: 9px; /*Flip default padding-top value with padding-bottom */
padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
color: black;
}

.menutop .current a{ /** currently selected menu item **/
background-color: #FFFFFF; /*Red color theme*/
padding-top: 9px; /*Flip default padding-top value with padding-bottom */
padding-bottom: 5px; /*Flip default padding-bottom value with padding-top*/
color: black;
}

.floatr{ /*CSS for sample search box. Remove if desired */
float: right;
margin: 0;
margin-top: 2px;
padding: 0;
}
.msg{
	border:1px solid #FCFFCF;
	background:#E8EB99;
	padding:3px;
	text-align:center;
}
h2{
	padding:0;
	margin:0;
	text-align:center;
	color:#85B8CC;
	padding-bottom:5px;
}
.menu1{
	font-family: Tahoma;
	font-size: 10px;
	font-weight:normal;
	color: #000000;
	text-align:left;
	border-style:solid;
	border-width:1px;
	border-color: #EBEBEB;
	background-color: #FAFAFA;
}
.error{
	background:#FFE8E8;
	border:1px solid #FFB3B3;
	font-size:14px;
	text-align:center;
}
.pgtitle{
	font-size:22px;
	padding-bottom:1px;
	color:#666666;
	padding-left:4px;
	font-family:arial;
	border-bottom:1px dotted #CCCCCC;
	
}
.pnlink{
	padding:4px;
	margin:5;
	border:1px solid #EEEEEE;
}


.pagenat{
	border:1px solid #CCCCCC;
	padding:3px;
	background:#EEEEEE;
}
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating .current-rating{
	background: url(images/rating_star.gif) left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover{
	background-position: left bottom;
}
.star-rating a.one-star{
	width:20%;
	z-index:6;
}
.star-rating a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}	

/* SECOND STAR (ALREADY VOTED */


.star-rating2,
.star-rating2 a:active,
.star-rating2 .current-rating{
	background: url(images/rating_star_2.gif) left -1000px repeat-x;
}
.star-rating2{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating2 li{
	display: inline;
}
.star-rating2 a, 
.star-rating2 .current-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
	cursor:default;
}

.star-rating2 a.one-star{
	width:20%;
	z-index:6;
}
.star-rating2 a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating2 a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating2 a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating2 a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating2 .current-rating{
	z-index:1;
	background-position: left center;
}


/* END SECOND STAR */

/* for an inline rater */
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}
.voted_twice {
	background: #FFDDDD url(images/rating_warning.gif) no-repeat 5px 50%;
	padding:5px 5px 5px 16px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:130px;
	font-size:11px;
	}
.voted {
	background: #E7FFCE url(images/rating_tick.gif) no-repeat 5px 50%;
	padding:5px 5px 5px 16px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:130px;
	font-size:11px;
	}
/* The text that displays the rating information */
.rated_text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:5px;
	color:#666;
	}
/* Green text that shows 3.34/5 */
.out5Class {
	color:#00CC00;
	font-weight:bold;
	}
.percentClass {
	/* Insert styles here for the percentage display. Example (74%) */
	}
.votesClass {
	/* Insert styles here for the votes display. Example (2 Votes) */
	}
.topRatedList {
	padding:0;
	margin:0;
	}
.topRatedList li {
	list-style-type:none;
	}