/*STRUCTURE CSS*/
body{
	font-family: Tahoma !important;
	font-size: 12px !important;
	padding: 0px;
	margin: 0px;
	color:#ffffff;
	background:#0c0d0f;
}

#right
{
	clear: right;
	float: right;
	width: 960px;
	display: inline;
}

#right h2 { margin: 0; }

#left
{
	float: left;
	width: 220px;
	margin-left:10px;
	display: inline;
}

#left h3 { margin: 0; }

#center {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
}

.center {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	overflow:hidden;
}

.leftbar {
	color: #eeeeee;
	width: 240px;
	position: absolute;	
	padding-right: 10px;
}

.main {
	color: #FFF;
	margin-left: 250px;		
}

.headerspace {
	background-color:#000;
}

.heading {
	width: 100%;
	background-image: url(images/bannerback.png);
	background-repeat:repeat-x;
	padding:0px;
	margin:0px;
	height: 120px;
}

.logo{
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 15px;
	width: 300px; 
	float: left;
}

.search{
	padding-top:30px;
	padding-right:20px;
	text-align:right;
}

.toolbar {
	width: 85%;
	min-width: 700px; 
	margin: 0px auto;
	left: 0px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	height: 35px;
	background: #222;
	-moz-box-shadow: 0px 1px 10px #333, inset 1px 1px 0px #a4a4a4; 
	-khtml-box-shadow: 0px 1px 10px #333;
	-webkit-box-shadow: 0px 1px 10px #333;
	border-top: 1px solid #eee;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.leftside {
	float: left;
}

.rightside {
	float: right;
}

.userarea{
	font-size:18px;
	padding:5px;
}

.page{
	font-size: 12px;
	border: 1px solid #e3e3e3;
	padding:2px 3px 2px 3px;
	color:#EEEEEE;
	background:#7b8a91;
	margin-right: 2px;
}

.page:hover{
	border: 1px solid #000;
	color:#000;
	background:#FFF;
}

.page-select{
	font-size: 12px;
	border: 1px solid #e3e3e3;
	padding:2px 3px 2px 3px;
	color:#EEEEEE;
	background:#222222;
	margin-right: 2px;
}

.page-box{
	text-align:right;
	font-size: 12px;
	padding-bottom: 10px;	
}

.home_cat_title{
	float:left;
	color:#FFF;
}

.home_more{
	float:right;	
}

.home_row{
	width:960px;
	overflow:hidden;
}

.home_category{
	float:left;
	width:470px;
	margin-right:10px;
}

.home_wrap{
	width: 450px;
	border-bottom:#999;
	overflow:hidden;
}

.home_wrap2{
	width: 450px;
	border-bottom:#999;
}

.home_img{
	margin-right:10px;
	margin-bottom:10px;
	width:65px;
	height:65px;
	float:left;
}

.home_info{
	
}

.home_title{
	font-size:14px;
	color:#FFF !important;
	font-weight:bold;
}

.home_title a,home_title a:visited{
	font-size:14px !important;
	color:#FFF !important;
	font-weight:bold !important;
}

.home_desc{
	width:435px;
	color:#FFF;
}

.cat_desc{
	width:375px;
	color:#FFF;
}

.game_left{
	width:470px;
	margin-right:10px;
}

.game_right{
	width:470px;
}

#footer{background:#333;clear:both;color:#FFF;font-weight:700;height:30px;margin-bottom:1px;padding-left:20px;padding-top:5px;position:relative;text-align:left;width:930px;}
#footer a{color:#EAEAEA;font-family:Arial;font-size:12px;font-weight:400;text-decoration:none;}
.socialmedia{
	padding-top:20px;
	padding-right:20px;
	text-align:right;
}

/*TOP NAVIGATION CSS*/
.nav {
	position: relative;
	width: 100%;
	height:38px;
	font-size:14px;
	padding-left: 10px;
	margin: 0px auto;
	background:#000;
}

.nav ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
 
.nav ul li {
	float: left;
	z-index:1;
	position: relative;
}
 
.nav ul li a {
	float:left;
	text-align: center;
	padding:10px;
	display:block;
	color:#666;
}

.nav ul li a:hover {
	text-align: center;
	border-bottom:1px solid #1e899b;
	padding:10px;
	display:block;
	text-decoration:none !important;
	color:#FFF;
}

/*BOTTOM NAVIGATION CSS*/

.navbottom {
	position: relative;
	width: 100%;
	height:47px;
	font-size:14px;
	margin: 0px 0px 20px 0px;
	background:#222;
}

.navbottom ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
 
.navbottom ul li {
	float: left;
	z-index:1;
	position: relative;
}

.navbottom ul li:hover {
	background:#1e899b;
}
 
.navbottom ul li a {
	float:left;
	text-align: center;
	border-right:1px solid #e9e9e9;
	padding:15px;
	display:block;
	color:#FFF;
}

.navbottom ul li a:hover {
	text-align: center;
	border-right:1px solid #e9e9e9;
	padding:15px;
	display:block;
	text-decoration:none !important;
	color:#FFF;
}

/*CONTENT CSS*/

.header {
	padding:10px;
	font-size: 14px;
	font-weight:bold;
	color: #FFF;
	background-color:#1e899b;
}

.content {
	color: #FFF;
	padding:10px;
	background-color:#222222;
	margin-bottom: 20px;
}
.header2 {
	height:18px;
	padding:10px;
	font-size: 14px;
	font-weight:bold;
	color: #FFF;
	background-color:#1e899b;
}

.content2 {
	padding:10px;
	color: #FFF;
	background-color:#222222;
	margin-bottom: 10px;
	overflow:hidden;
}

.catmenu{
	list-style: none;
	padding:0;
	margin:0;
}

.catmenu li{
	padding-bottom:5px;
	padding-top:5px;
	border-bottom:1px solid #333;
}

.catmenu li a{
	display:block;
}

.minithumb{
	width:20px;
	height:20px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}

.thumb{
	
}

.miniavatar{
	width:25px;
	height:25px;
	float:left;
	margin-right:5px;
	margin-bottom:5px;
}

.avatar{
	
}

.msg{
	border:1px solid #FCFFCF;
	background:#E8EB99;
	padding:3px;
	color:#000000 !important;
	text-align:center;
}

.error{
	background:#579aff;
	border:1px solid #000000;
	font-size:14px;
	text-align:center;
}

a:hover { 
	color:#FFF;
	text-decoration:underline !important;
}

a:link, a:visited { 
	color:#FFF;
	text-decoration:none;
}

/*CSS ABOVE IM USING CSS BELOW I HAVE TO REVIEW*/

h2{
	padding:0;
	margin:0;
	text-align:center;
	color:#85B8CC;
	padding-bottom:5px;
}

/*Star Rating*/
.star-rating,
.star-rating a:hover,
.star-rating a:active,
.star-rating .current-rating{
	background: url(images/rating_star.gif) left -1000px repeat-x;
}
.star-rating{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating li{
	display: inline;
}
.star-rating a, 
.star-rating .current-rating{
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
}
.star-rating a:hover{
	background-position: left bottom;
}
.star-rating a.one-star{
	width:20%;
	z-index:6;
}
.star-rating a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating .current-rating{
	z-index:1;
	background-position: left center;
}	

/* SECOND STAR (ALREADY VOTED */


.star-rating2,
.star-rating2 a:active,
.star-rating2 .current-rating{
	background: url(images/rating_star_2.gif) left -1000px repeat-x;
}
.star-rating2{
	position:relative;
	width:125px;
	height:25px;
	overflow:hidden;
	list-style:none;
	margin:0;
	padding:0;
	background-position: left top;
}
.star-rating2 li{
	display: inline;
}
.star-rating2 a, 
.star-rating2 .current-rating {
	position:absolute;
	top:0;
	left:0;
	text-indent:-1000em;
	height:25px;
	line-height:25px;
	outline:none;
	overflow:hidden;
	border: none;
	cursor:default;
}

.star-rating2 a.one-star{
	width:20%;
	z-index:6;
}
.star-rating2 a.two-stars{
	width:40%;
	z-index:5;
}
.star-rating2 a.three-stars{
	width:60%;
	z-index:4;
}
.star-rating2 a.four-stars{
	width:80%;
	z-index:3;
}
.star-rating2 a.five-stars{
	width:100%;
	z-index:2;
}
.star-rating2 .current-rating{
	z-index:1;
	background-position: left center;
}


/* END SECOND STAR */

/* for an inline rater */
.inline-rating{
	display:-moz-inline-block;
	display:-moz-inline-box;
	display:inline-block;
	vertical-align: middle;
}
.voted_twice {
	background: #FFDDDD url(images/rating_warning.gif) no-repeat 5px 50%;
	padding:5px 5px 5px 16px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:130px;
	font-size:11px;
	}
.voted {
	background: #E7FFCE url(images/rating_tick.gif) no-repeat 5px 50%;
	padding:5px 5px 5px 16px;
	text-align:center;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333;
	width:130px;
	font-size:11px;
	}
/* The text that displays the rating information */
.rated_text {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-bottom:5px;
	color:#666;
	}
/* Green text that shows 3.34/5 */
.out5Class {
	color:#00CC00;
	font-weight:bold;
	}
.percentClass {
	/* Insert styles here for the percentage display. Example (74%) */
	}
.votesClass {
	/* Insert styles here for the votes display. Example (2 Votes) */
	}
.topRatedList {
	padding:0;
	margin:0;
	}
.topRatedList li {
	list-style-type:none;
	}